<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cheer.dao.BlogMapper">
    <insert id="insertBlog">
        insert into blog values (#{blogid},#{theme},#{text},#{blogtime},#{username},#{useravatar},#{sumbd})
    </insert>
    <update id="updateBlog">
        update blog set blogid=#{blogid},theme=#{theme},text=#{text},blogtime=#{blogtime},username=#{username},
        useravatar=#{useravatar},sumbd=#{sumbd} where blogid=#{blogid}
    </update>


    <select id="getBlog" resultType="com.cheer.domain.Blog">
        select * from blog
    </select>
    <select id="findBlog" resultType="com.cheer.domain.Blog">
        select * from blog where blogid=#{blogid}
    </select>
    <select id="searchBlog" resultType="com.cheer.domain.Blog">
        select * from blog where username=#{username}
    </select>

</mapper>